/*
**********************************************************************************
	slideshow.css
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	Author: Vanja Maria Anderson
	Description: Specific stylesheet for slideshow, part of webbtemplate Vason
	Date: 2014-06-28
	Version: 1.0
	Website: http://vanjaanderson.com
	Development: https://github.com/vanjaanderson/Vason
********************************************************************************** 
*/
/**
 * Style for JavaScript slideshow
 *
 */
#slideshow {
	margin-top: 21px;
}

#slideshow img {
	border: 15px solid #ccc;
}

#slideshow-header {
	position: absolute;
	width:320px;
	text-align: center;
	color: rgba(255,255,255,0.2);
	top: -60px;
	left: 12px;
	z-index: 1000;
	font-size: 5em;
}