/*
**********************************************************************************
  style.css
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  Author: Vanja Maria Anderson
  Description: Main stylesheet in webbtemplate Vason
  Date: 2014-06-28
  Version: 1.0
  Website: http://vanjaanderson.com
  Development: https://github.com/vanjaanderson/Vason
********************************************************************************** 
*/
/**
 * General elements
 */
html {
  overflow-y: scroll;
}

body {
  color: #333;
  font-family: arial, sans-serif;
}
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}
 
.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}
 
.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}

.smaller {
  font-size: smaller;
  font-style: italic;
}
 
/**
 * Layout for main
 */
#main {
  min-height: 30em;
}
  
/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
 
.sitefooter {
  color: #666;
}

.error {
  color: red;
}

.okay {
  color: green;
}

/**
 * Layout for navbar
 */
.navbar {display:block;background-color:#333;font-family:Verdana;padding:0.5em;}
.navbar a {color:#fff;padding:0.2em;text-decoration:none;}
.navbar a:hover {background-color:#666;padding:0.5em 0.2em 0.5em 0.2em}
.navbar a.selected {background-color:#fff;padding:0.3em 0.2em 0.5em 0.2em;color:#333;}
/* Login- and logout-links */
#login, #logout {float:right;margin:0;padding:0;}
#login:hover, #logout:hover {background-color:#666;padding:0.5em 0.2em 0.5em 0.2em;margin:-8px -3px 0 0;}
#login.selected, #logout.selected {background-color:#fff;padding:0.3em 0.2em 0.5em 0.2em;color:#333;margin:-4px -2px 0 0;}
#login.selected:hover, #logout.selected:hover {margin:-4px -2px 0 0;}
